<body [style.background-image]="'linear-gradient(to bottom, rgba(134,134,134,0.7), rgba(255,255,255,0.7)), url(assets/img/damir-kopezhanov-Z5tXjpTqwR8-unsplash.jpg)'">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formLogin">
                <img class="login-logo"  [style.background-image]="'url(assets/img/svg/f01.svg)'">
                <h2 class="text-center green mb-5" i18n="@@1">Coloque sus credenciales</h2>
                <mat-form-field class="form-field-dense mb-2">
                    <input matInput placeholder="Email o Número de Carnet" name="username" formControlName="userName" />
                    <mat-error i18n="@@2">Ingrese un correo electrónico</mat-error>
                </mat-form-field>
                <mat-form-field class="form-field-dense mb-0">
                    <input matInput type="password" placeholder="Contraseña" name="password"
                        formControlName="password" />
                    <mat-error i18n="@@2">Ingrese su contraseña</mat-error>
                </mat-form-field>
                <!-- <a class="green pointer">¿Has olvidado tu contraseña?</a> -->
                <div class="footer text-center green mt-2" i18n="@@3">
                    ¿Has olvidado tu contraseña? <a routerLink="../solicitar-reset-password">Solicitar cambio.</a>
                </div>
                <button mat-raised-button i18n="@@5">
                    <h2>Iniciar sesión</h2>
                </button>
                <!-- <button mat-raised-button [disabled]="!formLogin.valid">
                <h2>Iniciar sesión</h2>
            </button> -->
                <!-- <div class="footer text-center green mt-2">
                ¿Aún no tienes cuenta? Regístrate <a routerLink="/register">aquí</a>
                </div> -->
            </form>
        </mat-card-content>
    </mat-card>
</body>