<div class="container-fluid">
    <div class="header-container">
        <h1>Pedidos</h1>
    </div>
    <div class="filter-container">


    </div>
    <!-- <ng-container *ngIf="isMobile; else desktopView">
        
        <mat-card *ngFor="let pedido of pedidos" class="mobile-card">
            <mat-card-title>{{ pedido.nombre }} {{ pedido.apellido }}</mat-card-title>
            <mat-card-content>
                <p><strong>Marca:</strong> {{ pedido.marcaVehiculo }}</p>
                <p><strong>Modelo:</strong> {{ pedido.modelo }}</p>
                <p><strong>Año:</strong> {{ pedido.anio }}</p>
                <p><strong>Motor:</strong> {{ pedido.motor }}</p>
                <p><strong>Repuesto:</strong> {{ pedido.repuesto }}</p>
                <p><strong>Marca (Repuesto):</strong> {{ pedido.marcaRepuesto }}</p>
                <p><strong>Garantía:</strong> {{ pedido.garantia }}</p>
                <p><strong>Precio:</strong> {{ pedido.precio }}</p>
                <p><strong>Descripción:</strong> {{ pedido.descripcion }}</p>
                <p><strong>Foto:</strong></p>
                <img [src]="pedido.foto" alt="Foto Repuesto" class="preview-img" />
            </mat-card-content>
        </mat-card>

    </ng-container> -->
    <div class="table-container">
        <!-- <ng-template #desktopView> -->
        <!-- Vista escritorio tipo tabla -->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-table" matSort>
            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let p"> {{ p.name }} </td>
            </ng-container>

            <ng-container matColumnDef="Apellido">
                <th mat-header-cell *matHeaderCellDef> Apellido </th>
                <td mat-cell *matCellDef="let p"> {{ p.lastName }} </td>
            </ng-container>

            <ng-container matColumnDef="Marca">
                <th mat-header-cell *matHeaderCellDef> Marca </th>
                <td mat-cell *matCellDef="let p"> {{ p.vehiculeMakeName }} </td>
            </ng-container>

            <ng-container matColumnDef="Modelo">
                <th mat-header-cell *matHeaderCellDef> Modelo </th>
                <td mat-cell *matCellDef="let p"> {{ p.vehiculeModelName }} </td>
            </ng-container>

            <ng-container matColumnDef="Carrocería">
                <th mat-header-cell *matHeaderCellDef> Carrocería </th>
                <td mat-cell *matCellDef="let p"> {{ p.vehiculeBodyStyleName }} </td>
            </ng-container>

            <ng-container matColumnDef="#Cilindros">
                <th mat-header-cell *matHeaderCellDef> #Cilindros </th>
                <td mat-cell *matCellDef="let p"> {{ p.vehiculeEngineNumberOfCylinders }} </td>
            </ng-container>

            <ng-container matColumnDef="Transmisión">
                <th mat-header-cell *matHeaderCellDef> Transmisión </th>
                <td mat-cell *matCellDef="let p"> {{ p.vehiculeTransmissionName }} </td>
            </ng-container>

            <ng-container matColumnDef="Tracción">
                <th mat-header-cell *matHeaderCellDef> Tracción </th>
                <td mat-cell *matCellDef="let p"> {{ p.vehiculeDriveTypeName }} </td>
            </ng-container>

            <ng-container matColumnDef="Tipo de Combustible">
                <th mat-header-cell *matHeaderCellDef> Tipo de Combustible </th>
                <td mat-cell *matCellDef="let p"> {{ p.vehiculeFuelTypeName }} </td>
            </ng-container>

            <ng-container matColumnDef="Año">
                <th mat-header-cell *matHeaderCellDef> Año </th>
                <td mat-cell *matCellDef="let p"> {{ p.vehiculeYear }} </td>
            </ng-container>

            <ng-container matColumnDef="Foto">
                <th mat-header-cell *matHeaderCellDef> Foto </th>
                <td mat-cell *matCellDef="let p">
                    <img [src]="p.foto" alt="Foto" class="thumbnail-img" />
                </td>
            </ng-container>

            <ng-container matColumnDef="Creado">
                <th mat-header-cell *matHeaderCellDef> Creado </th>
                <td mat-cell *matCellDef="let p"> {{ p.createdAt | excludeDefaultDate }} </td>
            </ng-container>

            <ng-container matColumnDef="Creado Por">
                <th mat-header-cell *matHeaderCellDef> Creado Por </th>
                <td mat-cell *matCellDef="let p"> {{ p.createdBy }} </td>
            </ng-container>

            <ng-container matColumnDef="Modificado">
                <th mat-header-cell *matHeaderCellDef> Modificado </th>
                <td mat-cell *matCellDef="let p"> {{ p.modifiedAt | excludeDefaultDate }} </td>
            </ng-container>

            <ng-container matColumnDef="Modificado Por">
                <th mat-header-cell *matHeaderCellDef> Modificado Por </th>
                <td mat-cell *matCellDef="let p"> {{ p.modifiedBy }} </td>
            </ng-container>

            <ng-container matColumnDef="Activo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Activo</th>
                <td mat-cell *matCellDef="let element">
                    <div class="justify">
                        <mat-icon *ngIf="element.isAllow" fontIcon="check_circle" class="green">
                        </mat-icon>
                        <mat-icon *ngIf="!element.isAllow" fontIcon="radio_button_unchecked" class="neutro">
                        </mat-icon>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef class="center-th">Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <div class="justify">

                        <mat-icon fontIcon="edit" class="selector" title="Editar chofer" (click)="update(element)">
                        </mat-icon>


                        <mat-icon fontIcon="published_with_changes" class="selector green" title="Cambiar estado activo"
                            (click)="changeIsActiveState(element)">
                        </mat-icon>


                        <mat-icon *ngIf="!element.isDeleted" fontIcon="delete" class="selector red"
                            title="Eliminar chofer" (click)="delete(element)">
                        </mat-icon>

                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{ 'selected-row': row === selectedRow }" (click)="onRowClick(row)"></tr>
        </table>
        <!-- </ng-template> -->
    </div>
    <div *ngIf="totalRecords == 0" class="no-data">Sin datos</div>
    <!-- #region Paginator y custom style -->
    <mat-paginator [length]="totalRecords" [pageSize]="rowsPerPage" (page)="pageChanged($event)" class="d-none">
    </mat-paginator>

    <app-custom-paginator [totalRecords]="totalRecords" [currentPage]="currentPage" [rowsPerPageList]="rowsPerPageList"
        [rowsPerPage]="rowsPerPage" (fetchList)="fetchList($event)"
        (changeRowsNumber)="triggerPaginatorPageChangedEvent($event)" class="custom-paginator-style">
    </app-custom-paginator>
    <!-- #endregion -->
</div>