<form [formGroup]="entityForm" autocomplete="off">
    <h1 class="head mb-3" 
        cdkDrag
        cdkDragRootElement=".cdk-overlay-pane"
        cdkDragHandle
        mat-dialog-title>
        Cambiar {{ entityName }}
    </h1>
    
    <mat-dialog-content class="mat-typography">
        <div class="form-container">
            <mat-form-field class="f-1">
                <mat-label>Nueva contraseña</mat-label>
                <input matInput
                        formControlName="password"
                        type="text"
                        maxlength="50"
                        class="medium"
                        placeholder="Contraseña"/>
                <mat-error *ngIf="password?.hasError('required')">
                    Ingrese una contraseña
                </mat-error>
                <mat-error *ngIf="password?.hasError('minlength')">
                    La contraseña debe tener al menos 6 caracteres
                </mat-error>
                <mat-error *ngIf="password?.hasError('maxlength')">
                    La contraseña no debe superar los 50 caracteres
                </mat-error>
            </mat-form-field>  
            <div class="f-1" *ngIf="password?.hasError('pattern')">
                <p class="mb-0 red lato-s">
                    La contraseña debe tener:
                </p>
                <ul class="red lato-s">
                    <li>Una letra mayúscula</li>
                    <li>Una letra minúscula</li>
                    <li>Un número</li>
                    <li>Un carácter especial</li>
                </ul>
            </div>    
            <mat-form-field class="f-1">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput
                        formControlName="confirmPassword"
                        type="text"
                        maxlength="50"
                        class="medium"
                        placeholder="Confirma contraseña"/>
                <mat-error *ngIf="confirmPassword?.hasError('required')">
                    Confirme la contraseña
                </mat-error>
                <mat-error *ngIf="entityForm.hasError('mismatch')">
                    Las contraseñas no coinciden
                </mat-error>
            </mat-form-field>        
        </div>
    </mat-dialog-content>
  
    <mat-dialog-actions align="center" class="mb-3">
        <button mat-flat-button 
                color="warn" 
                mat-dialog-close>
            Cancelar
        </button>
        <button mat-flat-button
                color="accent"
                cdkFocusInitial
                (click)="save()">
            Guardar
        </button>
    </mat-dialog-actions>
</form>

