
.pagination-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--gray-border);
    color: var(--gray-letter);
    border-radius: 0.3em;
    padding: 0.5em 0;
    background-color: var(--white);
}
.page-number {
    display: flex;
    align-items: baseline;
    column-gap: 1em;
}
::ng-deep .page-number .mat-mdc-form-field {
    max-width: 100px !important;
}
/*es el espacio que aparece debajo de nuestra lista de cantidad de items por pagina*/
::ng-deep .page-number .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}
.page-number .mat-mdc-form-field {
    max-width: 100px !important;
}
.page-number .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}
@media (max-width: 600px) {
    .pagination-buttons {
        flex-direction: column;
        align-items: stretch;
        gap: 0.5rem;
    }
    .page-number {
        justify-content: center;
    }
    .pagination-buttons mat-paginator {
        width: 100%;
    }
    .centered-table {
        min-width: 300px;
    }
}