<!-- @if(permissionParameters){ -->
<mat-toolbar color="primary">
	<button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
		<mat-icon>menu</mat-icon>
	</button>
	<div class="logo-container">
		<img class="logo" src="assets/img/svg/f01.svg" alt="" />
	</div>
	<h1 class="app-name">Find It</h1>
	<div class="ms-auto name-container">
		<div class="lato-m black">{{ _user?.userName }}</div>
		<div class="subtitle-m">{{ roleEnumString }} </div>
	</div>
</mat-toolbar>

<mat-sidenav-container autosize="true">
	<mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="(isMobile ? 'over' : 'side')" [opened]="!isMobile">
		<mat-nav-list>

			<ng-container>
				<!-- @if(hasPermission(permissionParameters.homeModule)){ -->
				<!-- main dashboard -->
				<a mat-list-item (click)="simpleToggle()" [routerLink]="['./dashboard']"
					routerLinkActive="sidenav-item-active">
					<span class="entry">
						<mat-icon>home</mat-icon>
						<span i18n="@@sidebar.home" *ngIf="!isCollapsed">Inicio</span>
					</span>
				</a>
				<!-- } -->
				<!-- supplier internal -->
				<!-- @if(hasPermission(permissionParameters.supplierModule)){
				<a mat-list-item (click)="simpleToggle()" [routerLink]="['./supplier-int']"
					routerLinkActive="sidenav-item-active">
					<span class="entry">
						<mat-icon>inventory</mat-icon>
						<span *ngIf="!isCollapsed">Suplidores</span>
					</span>
				</a>
				} -->
				<!-- maintenance -->
				<!-- @if(hasPermission(permissionParameters.maintenanceModule)){
				<a mat-list-item (click)="simpleToggle()" [routerLink]="['./maintenance']"
					routerLinkActive="sidenav-item-active">
					<span class="entry">
						<mat-icon>engineering</mat-icon>
						<span *ngIf="!isCollapsed">Mantenimiento</span>
					</span>
				</a>
				} -->
				<!-- user -->
				<!-- @if(hasPermission(permissionParameters.userModule)){
				<a mat-list-item (click)="simpleToggle()" [routerLink]="['./user']"
					routerLinkActive="sidenav-item-active">
					<span class="entry">
						<mat-icon>person</mat-icon>
						<span *ngIf="!isCollapsed">Usuarios</span>
					</span>
				</a>
				} -->
				<!-- area request -->
				<!-- @if(hasPermission(permissionParameters.crewModule)){
				<a mat-list-item (click)="simpleToggle()" [routerLink]="['./equipment']"
					routerLinkActive="sidenav-item-active">
					<span class="entry">
						<mat-icon>assignment</mat-icon>
						<span *ngIf="!isCollapsed">Equipos</span>
					</span>
				</a>
				} -->
			</ng-container>
			<ng-container>
				<!-- supplier external -->
				<!-- @if(hasPermission(permissionParameters.supplierPanelModule)){
				<a mat-list-item (click)="simpleToggle()" [routerLink]="['./supplier-ext/dashboard']"
					routerLinkActive="sidenav-item-active">
					<span class="entry">
						<mat-icon>dashboard</mat-icon>
						<span *ngIf="!isCollapsed">Panel suplidor</span>
					</span>
				</a>
				} -->
				<!-- equipment -->
				<!-- @if(hasPermission(permissionParameters.equipmentModule)){
				<a mat-list-item (click)="simpleToggle()" [routerLink]="['./supplier-ext/equipment']"
					routerLinkActive="sidenav-item-active">
					<span class="entry">
						<mat-icon>forklift</mat-icon>
						<span *ngIf="!isCollapsed">Equipamiento</span>
					</span>
				</a>
				} -->
				<!-- operator -->
				<!-- @if(hasPermission(permissionParameters.operatorModule)){
				<a mat-list-item (click)="simpleToggle()" [routerLink]="['./supplier-ext/operator']"
					routerLinkActive="sidenav-item-active">
					<span class="entry">
						<mat-icon>engineering</mat-icon>
						<span *ngIf="!isCollapsed">Operador</span>
					</span>
				</a>
				} -->
			</ng-container>
			<a mat-list-item (click)="logOut()">
				<span class="entry">
					<mat-icon>logout</mat-icon>
					<span i18n="@@sidebar.logout" *ngIf="!isCollapsed">Cerrar sesión</span>
				</span>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content *ngIf="isAuthorized()">
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
<!-- } -->