.email-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0.5em;
    width: 100%;
}

.g-1 { 
    grid-area: 1 / 1 / 2 / 3; 
}
.g-2 { 
    grid-area: 1 / 3 / 2 / 4; 
    /* height: auto; */
}

.add-button {
    margin-right: 0.5em!important;
}