<form [formGroup]="orderForm" autocomplete="off">
    <h1 class="head mb-3" 
        cdkDrag
        cdkDragRootElement=".cdk-overlay-pane"
        cdkDragHandle
        mat-dialog-title>
        Cliente
    </h1>
    <mat-dialog-content class="mat-typography">
        <div class="form-container">
      
            <mat-form-field class="f-1">
                <input matInput
                        type="integer"
                        class="medium"
                        formControlName="phoneNumber"
                        maxlength="15"
                        placeholder="Número de Teléfono"/>
            </mat-form-field>
            <mat-form-field class="f-1">
                <textarea matInput
                        formControlName="comment"
                        type="textarea"
                        maxlength="100"
                        class="medium"
                        placeholder="Mensaje"></textarea>
                <mat-error>Escriba aquí</mat-error>
            </mat-form-field>
            
        </div>
    </mat-dialog-content>
  
    <mat-dialog-actions align="center" class="mb-3">
        <button mat-flat-button 
                color="warn" 
                mat-dialog-close>
            Cancelar
        </button>
        <button mat-flat-button
                color="accent"
                cdkFocusInitial
                (click)="sendComment()">
            Enviar Mensaje
        </button>
    </mat-dialog-actions>
</form>