.bg-image {
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 1em;
    background-image: linear-gradient(
        to bottom,
        rgba(134, 134, 134, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url("../../../../../assets/img/equipos_rentados_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}