name: Deploy Angular App to SmarterASP.NET

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Clean GitHub Actions cache
        run: rm -rf ${{ github.workspace }}/_actions

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.12.1'
      
      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Build Angular app (SSR)
        run: npm run build

      - name: Build Angular app (Prerender)
        run: npm run build:ssr:prerender || true
        
      - name: Copy proxy server
        run: npm run copy

      - name: Deploy to SmarterASP.NET via FTP
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: dist/find-it-frontend/
          server-dir: /frontend/dist/angular-ssr/

      - name: Deploy to SmarterASP.NET via FTP (app.js)
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: app/
          server-dir: /

      # - name: Deploy to SmarterASP.NET via FTP (server/es)
      #   uses: SamKirkland/FTP-Deploy-Action@4.3.0
      #   with:
      #     server: ${{ secrets.FTP_HOST }}
      #     username: ${{ secrets.FTP_USERNAME }}
      #     password: ${{ secrets.FTP_PASSWORD }}
      #     local-dir: dist/find-it-frontend/server/es/
      #     server-dir: /frontend/dist/angular-ssr/server/es/

      # - name: Deploy to SmarterASP.NET via FTP (server/en)
      #   uses: SamKirkland/FTP-Deploy-Action@4.3.0
      #   with:
      #     server: ${{ secrets.FTP_HOST }}
      #     username: ${{ secrets.FTP_USERNAME }}
      #     password: ${{ secrets.FTP_PASSWORD }}
      #     local-dir: dist/find-it-frontend/server/en/
      #     server-dir: /frontend/dist/angular-ssr/server/en/

      # - name: Deploy node_modules (server)
      #   uses: SamKirkland/FTP-Deploy-Action@4.3.0
      #   with:
      #     server: ${{ secrets.FTP_HOST }}
      #     username: ${{ secrets.FTP_USERNAME }}
      #     password: ${{ secrets.FTP_PASSWORD }}
      #     local-dir: dist/find-it-fe/server/node_modules/
      #     server-dir: /frontend/server/node_modules/

      # - name: Install server dependencies
      #   run: |
      #     ssh ${{ secrets.FTP_USERNAME }}@${{ secrets.FTP_HOST }} -p 22 "cd /frontend/server && npm install" # Adjust port if needed

      # - name: Start Node.js Server
      #   run: |
      #     ssh ${{ secrets.FTP_USERNAME }}@${{ secrets.FTP_HOST }} -p 22 "cd /frontend/server && pm2 start server.mjs" # Assuming you use PM2
